<div mat-dialog-title>
    <h1>Task Management Form </h1>
</div>
<form [formGroup]="taskForm" (ngSubmit)="OnFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label> Task Title </mat-label>
                <input matInput type="text" placeholder=" Task Name " formControlName="Task">
                <mat-error class="small-text" *ngIf="!taskForm.get('Task')?.valid && taskForm.get('Task')?.touched && isSubmitted"> Task is
                    mandatory! </mat-error>
                <!-- <small  class="small-text" *ngIf="!taskForm.get('Task')?.valid && taskForm.get('Task')?.touched && isSubmitted"> Task is
                    mandatory! </small> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Due Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="DatePick">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error class="small-text" *ngIf="!taskForm.get('Task')?.valid && taskForm.get('Task')?.touched && isSubmitted"> Due Date is
                    mandatory! </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Task Status</mat-label>
                <mat-select formControlName="taskstatus">
                    <mat-option *ngFor="let val of status" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
                <mat-error class="small-text" *ngIf="!taskForm.get('Task')?.valid && taskForm.get('Task')?.touched && isSubmitted"> Task Status is
                    mandatory! </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button class="cancel_button" type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button class="save_button" color="primary" type="submit"> {{data ? 'Update' : 'Save'}}
        </button>
    </div>
</form>